<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.svg') }}" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('live_message.static', filename='css/main-styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('live_message.static', filename='css/color.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('live_message.static', filename='css/mobile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('live_message.static', filename='css/animation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('live_message.static', filename='css/menu.css') }}">
    <script src="{{ url_for('static', filename='js/icons.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/menu.js') }}"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>