{% extends "base.html" %}

{% block title %}Live!{% endblock %}

{% block content %}
{% include "menu.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('live_message.static', filename='css/chat-styles.css') }}">
<div class="block-icon">
    <!-- <a class="icon button" open-menu='settings'><EnterSvg name='settings'></EnterSvg></a> -->
    <a id="shareButton" class="icon button"><icon open='share'></icon></a>
    <!-- <a class="icon button"><EnterSvg name='close'></EnterSvg></a> -->
<div id="viewport-info">Height: </div>
</div>
<main class="chat">
    <div class="friend-block">
        <div id="displayMessage" class="friend"><b></b></div>
    </div>
    <div class="message-block">
        <textarea id="inputMessage" class="message" placeholder="Введите сообщение..." inputmode="text"></textarea>
    </div>
</main>


<script src="{{ url_for('live_message.static', filename='scripts/block-resize-keyboard.js') }}"></script>
<script src="{{ url_for('live_message.static', filename='scripts/chat.js') }}"></script>
<script src="{{ url_for('live_message.static', filename='scripts/share.js') }}"></script>
<script type="text/javascript">
    function typeText(elementId, text) {
        const element = document.querySelector(`#${elementId} b`);
        let i = 0;

        const interval = setInterval(() => {
            if (i < text.length) {
                element.textContent += text.charAt(i);
                i++;
            } else {
                clearInterval(interval);
            }
    }, 100); // Задержка между символами
    }

// Пример вызова
    document.addEventListener("DOMContentLoaded", () => {
        typeText("displayMessage", "Ожидание пользователя...");
    });

</script>

{% endblock %}