button,
.button {
  transition: transform 300ms ease, box-shadow 300ms ease;
}

button,
.button:hover {
  transform: scale(1.01);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

button,
.button:active {
  transform: scale(0.98);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}
.icon:hover{transform: scale(1.1);}
.icon:active{transform: scale(0.98);}
