@media (max-width: 768px) {
    .notification {
        top: auto;
        bottom: 20px;
    }

    .index h1{font-size: 48px}
    .index h2{font-size: 18px}
    .index a{
        position: fixed;
        bottom: 10px;
        font-size: 20px;
        width: 200px;
        margin-top: 60px;
        left: 50%; /* если нужно выравнивание по центру */
        transform: translateX(-50%); /* для точного центрирования */
    }

    textarea::placeholder {
        position: absolute;
        bottom: 20px;
    }

    textarea:focus::placeholder {
      opacity: 0;
  }

  .block-code{width: 100% !important;}

  button,
  .button:hover {transform: translateX(-50%) scale(1.01) !important;}

  button,
  .button:active {transform: translateX(-50%) scale(0.98) !important;}

  .block-icon{
    top: auto !important;
    right: 10px !important ;
    bottom: 10px;
    flex-direction: column-reverse !important;
}

}