a:hover{transform: scale(1.05);}
a:active{transform: scale(0.95);}

a.card:hover{
	transform: scale(1.01);
	box-shadow:  0 4px 20px 15px rgba(255, 255, 255, 0.1);
}
a.card:active{
	transform: scale(0.99);
	box-shadow:  0 4px 20px 15px rgba(255, 255, 255, 0.0);
}


@keyframes shadow-resize {
  from {
    box-shadow: 0 0 80px var(--text-color);
  }
  to {
    box-shadow: 0 0 20px var(--text-color);
  }
}