#projects-container>.card{
	margin: 10px;
	max-height: 350px;
	max-width: 350px;
}

@media (max-width: 768px) {
	#projects-container>.card{margin: 10px 0;}
}
.card{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--bg-second);
	min-height: 350px;
	min-width: 350px;
	border-radius: var(--br-radius);
	padding: 20px;
}

.card > main {
  flex: 1;
  margin: 10px 0;
  margin-bottom: 20px;
  overflow-x: auto;
}
.card>header{width: 80%}