@import url("position.css");
@import url("color.css");
@import url("animation.css");
@import url("mobile.css");
@import url("pc.css");
@import url("custom-sections.css");


*{
	padding: 0;
	margin: 0;
	font-family: "Noto Sans", serif;
	font-optical-sizing: auto;
	font-variation-settings;
	transition: 150ms;
}


/*КОРОБКИ*/

body{
	margin-left: auto;
	margin-right: auto;
	background-color: var(--bg-main);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

header{width: 100%;}


main{
	width: 100%;
}

footer{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}


section{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	padding: 20px 0;
}

section>header{margin-bottom: 40px}

.container{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}


/*Шрифты*/
h1, h2, h3, h4, h5, h6, p{color: var(--text-color); cursor: default}


/*Нажималки*/

a{
	text-decoration: none;
	transition: transform 300ms ease, box-shadow 300ms ease;
	display: flex;
	align-items: center;
}

.a{
	border: none;
	background-color: none;
	background: none;
}



/*Без сортировки*/

.cicrle{border-radius: 1024px}



.icon{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1.2em;
	height: 1.2em;
}

svg{
	width: auto;
	height: auto;
	fill: var(--text-color);
	stroke-width: 0px;
	width: 1em;
	height: 1em;
}