*{
	padding: 0;
	margin: 0;
	font-family: "Noto Sans", serif;
	font-optical-sizing: auto;
	font-variation-settings;
	transition: 150ms;
}



/*Коробки*/

header{width: 100%;}

body{
	margin-left: auto;
	margin-right: auto;
	background-color: var(--bg-main);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

main{
	width: 100%;
}

footer{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

section{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	padding: 20px 0;
}

section>header{margin-bottom: 40px}

.container{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}


/*Шрифты*/

h1, h2, h3, h4, h5, h6{color: var(--text-color); cursor: default}
h1{font-size: 64px}
h2{font-size: 48px}
h3{font-size: 32px}
h4{font-size: 24px}
h5{font-size: 16px}
h6{font-size: 12px}

.h1{height: 64px; width: 64px}
.h2{height: 48px; width: 48px}
.h3{height: 32px; width: 32px}
.h4{height: 24px; width: 24px}
.h5{height: 16px; width: 16px}
.h6{height: 32px; width: 12px}



/*Нажималки*/

a{
	text-decoration: none;
	transition: transform 300ms ease, box-shadow 300ms ease;
	display: flex;
	align-items: center;
}

.a{
	border: none;
	background-color: none;
	background: none;
}



/*Без сортировки*/

.cicrle{border-radius: 1024px}



icon{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

svg{
	width: auto;
	height: auto;
	fill: var(--text-color);
	stroke-width: 0px;
}