@media (max-width: 768px) {
	a, button {
		-webkit-tap-highlight-color: transparent;
		outline: none;
	}

	main{width: 95%}
	.container{
		flex-direction: column;
	}


	h1{font-size: 48px}
	h2{font-size: 32px}
	h3{font-size: 24px}
	h4{font-size: 18px}
	h5{font-size: 12px}
	h6{font-size: 8px}


	.card{
		width: 100%;
		margin-right: 0px;
		min-width: 10px;
		min-height: 10px;
		max-width: 95%;
		padding: 10px;
	}

	section.bio img{
		width: 60vw;
		max-width: 300px;
	}
	section.bio nav a{padding: 0 4px}

	section.bio .image{flex-direction: column;}
	section.bio .image div{padding-bottom: 20px}
}