<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-styles.css') }}">

	<link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/png">

	<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
	<script src="{{ url_for('static', filename='js/pulse.js') }}"></script>
	<script src="{{ url_for('static', filename='js/icons.js') }}"></script>
	<title>Главная</title>
</head>
<body>
	<main>
		<section class="bio center">
			<div class="image">
				<div class="color">
				</div>
				<div>
					<img id="myBox" onclick="toggleTheme()" class="cicrle" src="{{ url_for('static', filename='images/avatar.png') }}" alt="avatar">
				</div>
				<div class="name">
					<h1>falbue</h1>
					<h3>Дмитрий Миногин</h3>
				</div>
			</div>
			<nav class="links">
				<a href="https://t.me/falbue"><icon open="telegram" class="h2"></icon></a>
				<a href="https://github.com/falbue"><icon open="github" class="h2"></icon></a>
				<a href="https://vk.com/falbue"><icon open="vk" class="h2"></icon></a>
			</nav>
		</section>
		<section>
			<div class="card">
				<header>
					<img src="https://repository-images.githubusercontent.com/896614726/b2eca3ab-8ff0-4436-aaf0-858c3b68a796" alt="Live-Message Preview">
				</header>
				<main>
					<p>Анонимный чат в реальном времени</p>
					<div class="topics">
						<p>python</p> <p>chat</p> <p>flask</p> <p>website</p> <p>web</p> <p>chatroom</p> <p>anonymous-users</p> <p>anonymous</p> <p>webchat</p> <p>webchat-server</p> <p>anonymous-chat</p>
					</div>
				</main>
				<footer></footer>
			</div>
		</section>
	</main>
</body>
</html>